<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home page</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <!-- MDB -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}" />
</head>
<style></style>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Music stream</a>
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse px-2" id="navbarTogglerDemo02" style="color: whitesmoke">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/creator">Creators account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/creator">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">log out</a>
          </li>
        </ul>
        <form class="d-flex input-group w-auto">
          <input type="search" class="form-control" placeholder="Type query" aria-label="Search" />
          <button class="btn btn-outline-primary" type="button" data-mdb-ripple-color="dark">
            Search
          </button>
        </form>
      </div>
    </div>
  </nav>
  <div class="homeparent vw-100 min-vh-100 ps-4 d-flex flex-column align-items-center justify-content-center">
    <div class="w-100 d-flex flex-column align-items-end px-4 my-5">
      <div class="w-100 mb-4 d-flex flex-row align-items-center justify-content-between">
        <span>Latest songs</span><a class="btn btn-light btn-rounded" href="#" role="button">View more</a>
      </div>
      <div
        class="scrolling-container w-100 vh-10 d-flex justify-content-start flex-row align-items-center overflow-x-scroll">
        <div class="h-100 d-flex justify-content-start flex-row align-items-center" style="
              min-width: min-content;
              max-width: max-content;
              margin: 0 auto;
              overflow-x: auto;
            ">
          {% for song in data %}
          <div class="card m-2 hover-shadow" style="width: 300px; height: 100%">
            <div class="card-body px-2">
              <h5 class="card-title">{{ song.title }}</h5>
              <p class="card-text">{{ song.artist }}</p>
              <a type="button" href="/{{ song.filename }}" class="btn btn-light btn-rounded">Play</a>
            </div>
          </div>
          {% endfor %}





        </div>
      </div>
    </div>

    <div class="w-100 d-flex flex-column align-items-end px-4 my-5">
      <div class="w-100 mb-4 d-flex flex-row align-items-center justify-content-between">
        <span>Your albums</span><a class="btn btn-light btn-rounded" href="/usercreatesalbum" role="button">Create new
          album</a>
      </div>
      <div
        class="scrolling-container w-100 vh-10 d-flex justify-content-start flex-row align-items-center overflow-x-scroll">
        <div class="h-100 d-flex justify-content-start flex-row align-items-center" style="
              min-width: min-content;
              max-width: max-content;
              margin: 0 auto;
              overflow-x: auto;
            ">
          <div class="card m-2 hover-shadow" style="width: 300px; height: 100%">
            <div class="card-body px-2">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a type="button" href="/userfetchesalbum" class="btn btn-light btn-rounded">Play</a>
            </div>
          </div>
          <div class="card m-2 hover-shadow" style="width: 300px; height: 100%">
            <div class="card-body px-2">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a type="button" href="/userfetchesalbum" class="btn btn-light btn-rounded">Play</a>
            </div>
          </div>
          <div class="card m-2 hover-shadow" style="width: 300px; height: 100%">
            <div class="card-body px-2">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a type="button" href="/userfetchesalbum" class="btn btn-light btn-rounded">Play</a>
            </div>
          </div>
          <div class="card m-2 hover-shadow" style="width: 300px; height: 100%">
            <div class="card-body px-2">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a type="button" href="/userfetchesalbum" class="btn btn-light btn-rounded">Play</a>
            </div>
          </div>
          <div class="card m-2 hover-shadow" style="width: 300px; height: 100%">
            <div class="card-body px-2">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a type="button" href="/userfetchesalbum" class="btn btn-light btn-rounded">Play</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="w-100 d-flex flex-column align-items-end px-4 my-5">
      <div class="w-100 mb-4 d-flex flex-row align-items-center justify-content-between">
        <span>Explore Genre</span><a class="btn btn-light btn-rounded" href="#" role="button">View more</a>
      </div>
      <div
        class="scrolling-container w-100 vh-10 d-flex justify-content-start flex-row align-items-center overflow-x-scroll">
        <div class="h-100 d-flex justify-content-start flex-row align-items-center" style="
              min-width: min-content;
              max-width: max-content;
              margin: 0 auto;
              overflow-x: auto;
            ">
          <div class="card m-2 hover-shadow" style="width: 300px; height: 100%">
            <div class="card-body px-2">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a type="button" href="/play" class="btn btn-light btn-rounded">Play</a>
            </div>
          </div>
          <div class="card m-2 hover-shadow" style="width: 300px; height: 100%">
            <div class="card-body px-2">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a type="button" href="/play" class="btn btn-light btn-rounded">Play</a>
            </div>
          </div>
          <div class="card m-2 hover-shadow" style="width: 300px; height: 100%">
            <div class="card-body px-2">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a type="button" href="/play" class="btn btn-light btn-rounded">Play</a>
            </div>
          </div>
          <div class="card m-2 hover-shadow" style="width: 300px; height: 100%">
            <div class="card-body px-2">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a type="button" href="/play" class="btn btn-light btn-rounded">Play</a>
            </div>
          </div>
          <div class="card m-2 hover-shadow" style="width: 300px; height: 100%">
            <div class="card-body px-2">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a type="button" href="/play" class="btn btn-light btn-rounded">Play</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"></script>
</body>

</html>