<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lyrics and ratings</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='lyrical.css') }}"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <!-- MDB -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='global.css') }}"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Music stream</a>
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
        <div
          class="collapse navbar-collapse px-2"
          id="navbarTogglerDemo02"
          style="color: whitesmoke"
        >
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/creator">Creators account</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">log out</a>
            </li>
          </ul>
          <form class="d-flex input-group w-auto">
            <input
              type="search"
              class="form-control"
              placeholder="Type query"
              aria-label="Search"
            />
            <button
              class="btn btn-outline-primary"
              type="button"
              data-mdb-ripple-color="dark"
            >
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>
    <div class="min-vh-100 vw-100 d-flex flex-column align-items-center justify-content-center container">
      <div class="w-60 container text-white border border-dark rounded mx-auto p-4" 
      style="
        background: rgba(255, 255, 255, 0.15);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(14.3px);
        -webkit-backdrop-filter: blur(14.3px);
        border: 1px solid rgba(255, 255, 255, 1);">
        <div class="d-flex flex-row align-items-center justify-content-between p-2 border border-secondary rounded">
        <div
        class="d-flex flex-column align-items-center justify-content-between p-2"
        >
          <h1>Lyrics and ratings</h1>
          <div
          class="d-flex flex-row align-items-center justify-content-between"
          >
            <h4>{{data[2]}}</h4>
            <span>{{data[5]}}</span>
          </div>
        </div>
        <audio controls class="custom-audio">
          <source src="{{ url_for('uploaded_file', filename= data[6]) }}" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>

        <div class="wrapper">
        <form class="demoForm" action="/play/{{data[0]}}" method="post">
          <div class="rating rating-large" dir="rtl">
            {% if rating == 5 %}
            <input type="radio" name="rate" id="5" value="5"  checked />
            {% else %}
            <input type="radio" name="rate" id="5" value="5"/>
            {% endif %} 
            <label class="rating-label" for="5">&#9734</label>
            {% if rating == 4 %}
            <input type="radio" name="rate" id="4" value="4"  checked />
            {% else %}
            <input type="radio" name="rate" id="4" value="4"/>
            {% endif %} 
            <label class="rating-label" for="4">&#9734</label>
            {% if rating == 3 %}
            <input type="radio" name="rate" id="3" value="3"  checked />
            {% else %}
            <input type="radio" name="rate" id="3" value="3"/>
            {% endif %} 
            <label class="rating-label" for="3">&#9734</label>
            {% if rating == 2 %}
            <input type="radio" name="rate" id="2" value="2"  checked />
            {% else %}
            <input type="radio" name="rate" id="2" value="2"/>
            {% endif %} 
            <label class="rating-label" for="2">&#9734</label>
            {% if rating == 1 %}
            <input type="radio" name="rate" id="1" value="1"  checked />
            {% else %}
            <input type="radio" name="rate" id="1" value="1"/>
            {% endif %} 
            <label class="rating-label" for="1">&#9734</label>
          </div>
          <button class="btn btn-outline-secondary btn-sm" type="submit">Submit</button>
        </form>
      </div>
        </div>
      <div class="container mt-4 p-4 border border-dark rounded ">
        {{data[7]}}
      </div>
      <div></div>
    </div>
    </div>
    <script src="{{ url_for('static', filename='lyrical.js') }}"></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"
    ></script>
  </body>
</html>
